<footer class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="footer-brand">
          <img src="logo.svg" alt="Silvio Valente Fotografia" class="mb-3" style="height: 60px; width: auto;">
          <p class="footer-description">
            Capturando os momentos preciosos da vida com visão artística e experiência profissional.
          </p>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <ul class="footer-links mt-lg-4">
          <li><a routerLink="/termos">Termos e Condições</a></li>
          <li><a routerLink="/politica-privacidade">Política de Privacidade</a></li>
        </ul>
      </div>

      <div class="col-lg-4 mb-4">
        <h5 class="footer-title">Siga-me</h5>
        <div class="social-links">
          <a href="https://www.instagram.com/svr.photograpy/" target="_blank" class="social-link">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://youtube.com/@s.valentt4731?si=SqUumFRGitXAgUZ4" target="_blank" class="social-link">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
        <p class="footer-contact">
          <i class="fas fa-envelope"></i>
          <a href="mailto:s.valentstudio@gmail.com">s.valentstudio&#64;gmail.com</a>
        </p>
      </div>
    </div>

    <hr class="footer-divider">

    <div class="row">
      <div class="col-12 text-center">
        <p class="copyright">
          &copy; {{ currentYear }} Silvio Valente Fotografia. Todos os direitos reservados.
        </p>
      </div>
    </div>
  </div>
</footer>